.body{
    border:3px solid black;
    font-family:Arial, Helvetica, sans-serif;
}

.title{
    text-align: center;
    border:3px double black 
}

.list-block{
   max-width:200px;
   margin:0px auto;
   box-sizing:border-block;
}

.last{
    padding:0 0 30px 0
}